@charset "utf-8";
body{
	background: #fff;
}
.merchant-nav  {
	border-bottom: 1px solid #d8d8d8;
	background: #fff;
}
.merchant-nav  .navIn {
	width: 1200px;
	margin: 0 auto;
}

.merchant-nav  .navIn .logo {
	float: left;
}
.merchant-nav  .navIn .logo h1 {
	margin-top: 16px;
	height: 48px;
	overflow: hidden;
	float: left;
}

.logo span {
	font-size: 24px;
	height: 79px;
	line-height: 79px;
	float: left;
	margin-left: 23px;
}
.merchant-nav .navIn .navBar {
	float: right;
}
.merchant-nav  .navIn .navBar>li {
	float: left;
	height: 79px;
	line-height: 79px;
}
.merchant-nav  .navIn .navBar > li > a{
	padding:0 20px;
}
.merchant-nav  .navIn .navBar
.merchant-nav  .navIn .navBar li .myAsset{
	padding-left:0;
	padding-right:0;
}
.merchant-nav  .navIn .navBar .lasta{
	padding-left:30px;
}
.merchant-nav  .navIn .navBar .lasta a{
	padding:6px 15px;
	border-radius: 20px;
	color:#ee5b4c;
	border:1px solid #ee5b4c;
}
.merchant-nav  .navIn .navBar li .active{
	color:#ee5b4c;
}

.gradient {
	background: #ee5b4c;
	background: -webkit-linear-gradient(top, #fb6c6c, #f94b4b);
	background: -moz-linear-gradient(top, #fb6c6c, #f94b4b);
	background: -ms-linear-gradient(top, #fb6c6c, #f94b4b);
	background: -o-linear-gradient(top, #fb6c6c, #f94b4b);
}
.btn_style {
  cursor: pointer;
  border: 0;
  width: 180px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
}
.btn_invest {
  background: url(../images/p_btn_bg.png) no-repeat;
  height: 33px;
  line-height: 33px;
  cursor: pointer;
}
.business_tip {
  height: 35px;
  background: url(../images/busniess_tip.jpg) no-repeat;
  padding-left: 50px;
  color: #ee5b4c;
  font-size: 18px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  display: none;
}

#commer_login{
	position:relative;
}
#commer_login table{
	width:348px;
	position: absolute;
	z-index:2;
	right:20%;
	top:10%;
	background:#fff;
	border: 1px solid #ee5b4c;
	border-collapse:separate; 
	min-width: 300px;

}
#commer_login table th{
	font-weight: normal;
	font-size:16px;
	height:70px;
	vertical-align: top;
	line-height: 37px;
	width:25%;
	text-align:left;
	padding-left:7%;
}
#commer_login table p{
	color:#ee5b4c;
	font-size: 12px;
	line-height: 30px;
	height:30px;
}
#commer_login table td{
	height:70px;
	vertical-align: top;
}
#commer_login table .tr_yzm th,#commer_login table .tr_yzm td{
	height:37px;
}
#commer_login table td span{
	display: inline-block;
	background: #5698fa;
	height:37px;
	line-height: 37px;
	color:#fff;
	text-align: center;
}
.commer_id, .commer_yzm{
	height:35px;
	line-height:35px;
}
.commer_id{
	width:85%;
	padding-left:5px;
}
.yzm_td{
	width:36%;
}
.commer_yzm{
	width:95%;
	padding-left:5px;
}
.commer_login_get{
	width:35%;
}
.commer_login_get span{
	width:65%;
	margin-left:8.5%;
}
#commer_login table .commer_login_title{
	height:60px;
	line-height: 60px;
	font-size: 18px;

}
.commer_submit{
	text-align:center;
}
.commer_submit input{
	width:72%;
}


